@charset "UTF-8";

@media screen and  (min-width:692px) and (max-width:775px){
    #loja{
        display: none;
    }
    header a{
        font-size: 1.1em;
        padding: 10px;
        margin: 10px;
    }
    #home{
        margin-left:140px ;
    }
    p{
        margin-left: 30px;
    }
    #imgdei{
        content: url(../Imagens/Loja.png);
    }
    #imgdei{
        width: 350px;
        display: inline-block;
        margin: auto;
        padding: 50px;
        padding-left: 200px;
    }
    
}

@media screen and (max-width:692px) {
    header{
        height:150px;
    }
}


@media screen and (min-width:962px) {
    body{
        font-size: 1.09em;
    }
    nav{
        display: block;
        margin: auto;
    }
    article{
        margin-left: 90px;
    }
    header{
        height: 27vh;
    }
    header a{
       font-size: 1.2em; 
       margin: 4px;
    }
    header a:hover{
        font-size: 1.4em;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    section{
        font-size: 1.1em;
    }
}