@charset "UTF-8";

header{
    margin-bottom : 20px;
}
header a{
    margin: 0px;
    padding: 10px;
    margin-bottom: 20px;
    display: 
    inline-block; 
}
#home{
    margin-left: 10px;
}
section img{
    left: 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
main{
    margin-top: 0px;
}
section a{
    padding: 20px;
}
#loja{
    display: none;
    width: 250px;
    height: 240px;
}
#imgdei{
    content: url(../Imagens/Loja.png);
}
#imgdei{
    width: 300px;
    display: inline-block;
    margin: auto;
    padding: 50px;
    padding-left: 100px;
}

